# entornos/temporales locales
.venv/
node_modules/
__pycache__/
*.pyc
logs/
tmp/
*.log

# generados por Actions (no queremos subirlos desde tu PC)
data.json
cache-bust.txt

# archivos del sistema
.DS_Store
Thumbs.db
